body {
    background-color: blanchedalmond;
    font-family: Helvetica,  Arial, sans-serif;
}a{
    color: #885df1;
}

.container{
    margin: 120px auto;
    max-width: 600px;
}

header {
    margin-bottom: 30px;
}

h1{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    color: aquamarine;
    line-height: 1.5;
}
form {
    padding: 30px;
    background-color: antiquewhite;
    box-shadow: 0px 20 px 60px color(srgb red green blue);
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
}
.instructions{
    padding: 16px;
    border: 1px solid red;
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #000000;
}
.submit-button{
    margin-left: 16px;
    background-color: bisque;
    color: white;
    border: 50px;
    width: 150px;
    font-size: 16px;
    border-radius: 100px;
    padding: 14px 24px;
}
.poem {
    font-size: 14px;
    background-color: rgb(226, 43, 144);
    padding: 50px;
    line-height: 5px;
    border-left: 10px solid #885df1;
    box-shadow: 0px 20px 60px rgba(65,50,100,0.08);
    border-radius: 50px;
}
footer{
    text-align: center;
    font-size: 13px;
    margin-top: 30px;

}